.header{
    /* border: 0px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2vh;
}

.logo{
    color: rgb(17, 15, 15);
    font-size: 27px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: rgb(14, 219, 76);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1% 2vh;
}

nav ul li a{
    color: rgb(235, 235, 110);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #676786;
    transition: .6s;
}


.glow__on__hover {
    width: 30%;
    height: 6vh;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow__on__hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow__on__hover:active {
    color: #000
}

.glow__on__hover:active:after {
    background: transparent;
}

.glow__on__hover:hover:before {
    opacity: 1;
}

.glow__on__hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 25px;
    padding: 2% 5vh;
    border-radius: 50px;
    transition: transform .7s;
}

.btn:hover{
    transform: scale(1.2);
}
